<settings>
	<!-- Port the server will listen on -->
	<port>9999</port>
	
	<!-- Port the webserver listens on -->
	<httpport>9998</httpport>
	
	<!-- An external webserver that you host your files on, can be either the server's name or IP -->
	<!-- httpserver>example.com</httpserver -->

	<!-- Maximum number of players the server will support (Max 32) -->
	<maxplayers>48</maxplayers>

	<!-- Maximum number of vehicles the server will support (Max 65534) -->
	<maxvehicles>400</maxvehicles>

	<!-- Password clients will have to enter to connect -->
	<!-- password>None</password -->

	<!-- Allow the server to be queried -->
	<query>true</query>

	<!-- Add the server to the master list -->
	<listed>true</listed>

	<!-- The hostname players will see -->
	<hostname>IV:MP Server</hostname>

	<!-- The address the server will bind to -->
	<!-- hostaddress>127.0.0.1</hostaddress -->

	<!-- Toggles frequently called events which has impact on CPU usage  -->
	<frequentevents>false</frequentevents>

	<!-- Toggles the network nametags from GTA IV to nametags from IV:MP(GUI) -->
	<guinametags>true</guinametags>
	
	<!-- Toggles the headmovement sync -->
	<headmovement>true</headmovement>
	
	<!-- The scripts the server will load and run -->
	<script>cp.nut</script>
	<script>whisper.nut</script>
	<script>namecheck.nut</script>
	<script>runcode.nut</script>
	<script>indicators.nut</script>
	<script>busdriver.nut</script>
	
	<!-- The scripts the client will download and run -->
	<clientscript>scoreboard.nut</clientscript>
	<clientscript>audio.nut</clientscript>
	<!-- clientscript>webbrowser.nut</clientscript -->
	
	<!-- The resources the client will download and used by clientscripts -->
	<!-- clientresource>ivmp.png</clientresource -->
	
	<!-- The modules the server will load and run -->
	<!-- For windows: -->
	<!-- module>Sample.dll</module -->
	<!-- For linux: -->
	<!-- module>Sample.so</module -->
</settings>